@charset "utf-8";
/**
   * Description: CSS
   * Version: 1.0.0
   * Last update: 2017/08/20
   * Author: Duc PM <minhducpham.it@gmail.com>
   *
   * Summary:
   *
   *  0. ELEMENT
   *    - 0.1. TYPE ELEMENT
   *    - 0.2. TYPE ELEMENT
   *  1. ELEMENT
   *    - 1.1. TYPE ELEMENT
   *    - 1.2. TYPE ELEMENT
   */

/* Import Files
  ========================================================================== */
/*  Css */
@import url(../lib/bootstrap/bootstrap.min.css);
@import url(../lib/font-awesome/font-awesome.min.css);
@import url(../lib/carousel/owl.carousel.min.css);

/* Layout Style
  ========================================================================== */
body {
  font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  color: #8d8d8d;
  line-height: 1.7;
  font-weight: 400;
}

html {
  overflow-y: scroll;
}

*:focus,
a:focus {
  outline: none;
}

iframe {
  max-width: 100%;
  display: block;
}

figure {
  max-width: 100%;
}

.sh-noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

dd {
  margin: 0 0 20px;
}

pre {
  border: 0;
  padding: 20px;
}

img {
  max-width: 100%;
  min-height: 1px;
  height: auto;
}

p {
  line-height: 1.8;
}

p:last-child {
  margin-bottom: 0;
}


/**
 * 2.0 - Typography
 */

a {
  color: #47c9e5;
  text-decoration: none;
  word-wrap: break-word;
}

a:hover, a:focus {
  color: #47c9e5;
  text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', serif;
  color: #3f3f3f;
  font-weight: 700;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: normal!important;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
  line-height: normal!important;
}

h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p {
  margin: 0;
}

h2 {
  font-size: 20px;
}
.sh-team-role,
.sh-iconbox-title,
.sh-iconbox-content,
.sh-text-with-frame * {
  word-wrap: break-word;
}

/* Typography - Sizes */
.size-xs{ font-size: 14px; }
.size-s{ font-size: 16px; }
.size-m{ font-size: 20px; }
.size-l{ font-size: 30px; }
.size-xl{ font-size: 36px; }
.size-xxl{ font-size: 48px; }
.size-xxxl{ font-size: 60px; }
.size-xxxxl{ font-size: 72px; }

@media (max-width: 1024px) {
  .size-l{ font-size: 20px; }
  .size-xl{ font-size: 26px; }
  .size-xxl{ font-size: 30px; }
  .size-xxxl{ font-size: 36px; }
  .size-xxxxl{ font-size: 40px; }
}

.sh-text-background {
  background-color: #47c9e5;
  color: #fff;
  display: inline-block!important;
  padding: 0 11px;
  border-radius: 8px;
}

.sh-text-background-white {
  background-color: #fff;
  color: #505050;
  display: inline-block!important;
  padding: 0 11px;
  border-radius: 8px;
}

/**
 * Input
 */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
  border: 1px solid #e3e3e3;
  color: #8d8d8d;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
  padding: 0px 20px;
  line-height: 48px!important;
}

textarea {
  height: 120px;
  padding: 18px 24px;
}

select::-webkit-input-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  height: inherit!important;
  line-height: inherit!important;
  font-style: italic;
  color: inherit;
}

select:-moz-placeholder,
input:-moz-placeholder,
textarea:-moz-placeholder {
  height: inherit!important;
  line-height: inherit!important;
  font-style: italic;
  color: inherit;
}

select::-moz-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
  height: inherit!important;
  line-height: inherit!important;
  font-style: italic;
  color: inherit;
}

select:-ms-input-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  height: inherit!important;
  line-height: inherit!important;
  font-style: italic;
  color: inherit;
}

/**
 * Tables
*/
table {
  border: 2px solid #e5e5e5!important;
  border-radius: 0!important;
  border-collapse: collapse!important;;
}

table td,
table th {
  border: 1px solid #e5e5e5!important;
}

table td {
  padding: 15px 20px!important;
}

table th {
  padding: 15px 20px!important;
  font-size: 16px;
  color: #505050;
}

/**
 * 7.0 Placenemt
 */
.sh-placement-left {
  margin-right: auto;
}
.sh-placement-center {
  margin: 0 auto;
}
.sh-placement-right {
  margin-left: auto;
}
.sh-group:after,
.sh-columns:after {
  content: "";
  display: block;
  clear: both;
}
.sh-group > * {
  float: left;
}
.sh-columns > * {
  float: left;
}
.sh-columns > :last-child {
  float: right;
}
.sh-group-equal {
  display: flex;
}
.sh-group-equal > *{
  flex: 1;
}
.sh-table {
  display: table;
  width: 100%;
}
.sh-hidden{
  display: none;
}
.sh-table-full {
  display: table;
  width: 100%;
  height: 100%;
}
.sh-table-small {
  display: table;
}
.sh-table-cell {
  display: table-cell;
  vertical-align: middle;
  float: none!important;
}
.sh-table-cell-top{
  display: table-cell;
  vertical-align: top;
}
.sh-clear {
  clear: both;
}
.sh-nav {
  float: right;
}

/**
 * Style Bootstrap
*/
.container {
  padding-left: 0!important;
  padding-right: 0!important;
}


.primary-desktop .header-contacts-details, .primary-desktop .header-social-media a {
  color: #fff;
}
.primary-desktop {
  position: relative;
  z-index: 1000;
}
.primary-desktop .sh-header-top {
  background-color: #47c9e5;
  padding: 0;
  border-bottom: 1px solid rgba( 0,0,0,0.08 );
  position: relative;
  margin-bottom: 0;
}
.sh-header {
  position: relative;
  background-color: #fff;
  left: 0;
  border-bottom: 1px solid rgba( 0,0,0,0.08 );
}
.sh-header .container, .sh-header-top .container {
  padding: 0 15px;
  position: relative;
}
.sh-header .container {
  width: 90%!important;
  max-width: 90%!important;
}
.sh-header-top .container {
  width: 90%!important;
  max-width: 90%!important;
  border-right: 1px solid rgba( 0,0,0,0.08 );
}
.header-contacts {
  display: table;
  width: 100%;
  height: 100%;
}
.header-contacts-item {
  vertical-align: middle;
  width: 100%;
  display: table;
}
.header-contacts-details {
  padding-right: 20px;
  font-size: 14px;
}
.header-contacts-item span {
  display: table-cell;
  vertical-align: top;
  text-align: center;
  border-left: 1px solid rgba( 0,0,0,0.08 );
  padding: 15px 0;
  padding-right: 0;
}
.header-contacts-details > i {
  font-size: 15px;
  padding-right: 8px;
}
.header-social-media {
  text-align: right;
}
.header-social-media a {
  border-left: 1px solid rgba( 0,0,0,0.08 );
  padding: 18px;
  font-size: 16px;
  color: #8d8d8d;
}

.header-logo {
  padding: 15px 0;
  position: relative;
  z-index: 100;
}
.header-logo img {
  height: auto;
  max-height: 250px;
}
.sh-sticky-logo, .sh-light-logo {
  display: none;
}

.sh-nav-container {
  position: relative;
  margin-bottom: -1px;
}
.sh-nav-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sh-nav li.menu-item {
  float: left;
  padding: 0 15px;
  border-bottom: 0px solid transparent;
}
.sh-nav > li.menu-item > a {
  line-height: 40px;
  display: block;
  color: #7e7e7e;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  max-height: none;
  text-transform: uppercase;
  transition: 0.3s padding ease-in-out;
}
.sh-nav > li.menu-item:hover > a {
  color: rgba(61,61,61,0.80);
  transition: 0.3s padding ease-in-out;
}
.sh-nav > li.menu-item.current_page_item > a {
  color: #47c9e5;
}
.sh-nav li.menu-item-has-children > a:after, .sh-nav li.menu-item li.menu-item-has-children > a:after {
  font-family: 'simple-line-icons'!important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font-size: 12px;
  margin-left: 8px;
  content: "\e604";
  position: relative;
}
.sh-nav ul.sub-menu {
  display: none;
  position: absolute;
  background: #232323;
  top: 100%;
  padding: 16px 0;
  width: 220px;
  z-index: 1000;
  margin-left: -26px;
  background-color: #232323;
}
.sh-nav ul.sub-menu li {
  width: 100%;
  float: none;
  padding: 0px 0px;
  position: relative;
}
.sh-nav li.menu-item li a, .sh-nav li.menu-item li.menu-item-has-children > a:after {
  line-height: 24px;
  text-transform: none;
  padding-top: 6px;
  padding-bottom: 6px;
}
.sh-nav li.menu-item li a {
  max-height: none;
}
.header-mobile-social-media a i, .sh-nav-mobile li a, .sh-header .sh-nav > li.menu-item ul a, .sh-header-left-side .sh-nav > li.menu-item ul a {
  color: #aaaaaa!important;
}

.sh-nav-cart i,
.sh-nav-search i {
  color: rgba(61,61,61,0.69);
  font-size: 24px;
  position: relative;
  bottom: -5px;
}
.cart-icon {
  position: relative;
  top: -4px;
  margin-left: -17px;
  display: inline-block;
}
.cart-icon span {
  display: inline-block;
  background-color: #47c9e5;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  position: relative;
  z-index: 100;
  width: 20px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 9px;
  font-weight: bold;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.15);
}
.sh-group:after, .sh-columns:after {
  content: "";
  display: block;
  clear: both;
}
.sh-nav-cart + .sh-nav-dropdown, .sh-nav-cart + .sh-nav-search {
  padding-left: 0px!important;
}
.sh-nav > li.menu-item:last-child {
  padding-right: 0;
}

.sh-header-search {
  display: none;
  position: absolute;
  top: 0;
  bottom: 1px;
  right: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(255,255,255,0.97);
  z-index: 200;
  overflow: hidden;
}
.sh-header-search .container {
  position: relative;
}
.sh-header-search-form {
  position: relative;
  overflow: hidden;
}
.sh-header-search .sh-header-search-input {
  display: inline-block;
  border: 0;
  margin-left: 5px;
  font-size: 24px;
  font-weight: normal;
  background-color: transparent;
  padding: 0;
  color: #505050;
  line-height: 48px!important;
  padding-right: 75px;
  width: 100%;
}
.sh-header-search-submit {
  position: absolute;
  top: 12px;
  right: 32px;
  border: 0;
  color: #8d8d8d;
  background-color: transparent;
  font-size: 24px;
  line-height: 1;
}
.sh-header-search-submit i {
  line-height: 1;
}
.sh-header-search-close {
  position: absolute;
  top: 14px;
  right: 0px;
  border: 0;
  color: #8d8d8d;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  line-height: 1;
}